<single-spa-router >
  <div class="flex bg-light-grey avenir">
    <div class="flex flex-column w-25 shadow-1 z-999" style="height: 100vh">
      <h3 class="f3 pa2">Личный кабинет</h3>
      <a class="f4 link dim w-100 bb bw1 ph3 pv2 mb2 dib light-gray mr2" href="/" onclick="singleSpaNavigate(event)"> <span class="gray">Счета и карты </span></a>
      <a class="f4 link dim w-100 bb bw1 ph3 pv2 mb2 dib light-gray mr2" href="/vue" onclick="singleSpaNavigate(event)"><span class="gray"> Биржа </span></a>
      <a class="f4 link dim w-100 bb bw1 ph3 pv2 mb2 dib light-gray mr2" href="/react" onclick="singleSpaNavigate(event)"> <span class="gray">React Example </span></a>
      <a class="f4 link dim w-100 bb bw1 ph3 pv2 mb2 dib light-gray mr2" href="/vue-second" onclick="singleSpaNavigate(event)"> <span class="gray">Ипотечный калькулятор </span></a>
    </div>
    <main class="w-100">
      <route path="/" exact>
        <application name="@psb/test2"></application>
      </route>
      <route path="/vue">
        <application name="@psb/test1"></application>
      </route>
      <route path="/react">
        <application name="@psb/test3"></application>
      </route>
      <route path="/vue-second">
        <application name="@psb/test4"></application>
      </route>
    </main>
  </div>
</single-spa-router>
